body{
    background-color: #d5b5bd;
    color: #870c3b;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-size: 16px;
    font-weight:normal;
    line-height:2em;
}
.block{
    padding: 12px;
    border: none;
    clear:both;
}
a{
    text-decoration: none;
    color: white;   
}
.main-header {
    background-image:url("../Images/flag.jpg");
    /*background-repeat: no-repeat;*/
    background-position: center ;
    padding:20px 10px;
    border:2px rgb(67, 4, 30) solid;
    border-radius:2rem;
    a{ color: black;}
}
.main-header h1{
   margin:auto;
    color: rgb(67, 4, 30);
    text-align:center;
    font-size: 60px;
    text-decoration:white /*underline overline*/;
    letter-spacing: 0.2em;
    padding: 24px 1px; 
    border: 5px white solid;
    background-color:rgb(219, 140, 140);
    border-radius:2rem;
}
.sec-header{
    background-image:url("../Images/flag.jpg");
    /*background-repeat: no-repeat;*/
    background-position: center ;
    padding:10px 10px;
    border:2px rgb(67, 4, 30) solid;
    border-radius:2rem;
    a{ color: black;}
}
.sec-header h1{
    color: rgb(67, 4, 30);
    text-align:center;
    font-size: 40px;
    text-decoration:white /*underline overline*/;
    letter-spacing: 0.2em;
    padding: 20px 1px; 
    border: 5px white solid;
    background-color:rgb(219, 140, 140);
    border-radius:2rem;
}
.nav-bar {
    margin: auto;
    padding: 20px 20px;
    border: 2px rgb(67, 4, 30) dotted;
    background-color: rgb(219, 140, 140);
    border-radius:2rem;
}
.nav-bar ul {
text-align: center;
}

.nav-bar li {
text-align: center;
 display: inline-block;
 padding: 0px 30px;
 border: 1px rgb(67, 4, 30) dotted;

}
.nav-bar a:hover, a:active {
  background-color: #d5b5bd;
}
.nav-bar h2{
    color: white;
    text-align: center;
    font-size: 40px;
}
.main-text{
    margin: auto;
    padding: 60px 20px;
    border: 2px rgb(67, 4, 30) dotted;
    background-color: rgb(219, 140, 140);
    border-radius:2rem;
    width:60%;
    float: left;
    box-sizing: border-box;
}

.main-text h4{
    text-align: center;
}

.main{
    text-align: center;
    margin: auto;
    padding: 20px 20px;
    border: 2px rgb(67, 4, 30) dotted;
    background-color: rgb(219, 140, 140);
    border-radius:2rem;
    /*width:60%;
    float: left;
    box-sizing: border-box;*/
}

.main-flash{
 margin: auto;
    padding: 60px 20px;
    border: 2px rgb(67, 4, 30) dotted;
    background-color: rgb(219, 140, 140);
    border-radius:2rem;
    width:80%;
    float: left;
    box-sizing: border-box;
    height: 300px;/*można później zmienić na flexbox*/
}

.side-flash{
    margin: auto;
    padding: 36px 20px;
    border: 2px rgb(67, 4, 30) dotted;
    background-color: rgb(219, 140, 140);
    border-radius:2rem;
    width:20%;
    float: right;
    text-align: center;
    box-sizing: border-box;
    height: 300px;
}
.side-flash h4{ font-size: 20px;}

.side-flash ul{text-align: center;
    list-style-type: none;}

.side-bar{
     margin: auto;
    padding: 36px 20px;
    border: 2px rgb(67, 4, 30) dotted;
    background-color: rgb(219, 140, 140);
    border-radius:2rem;
    width:40%;
    float: right;
    box-sizing: border-box;
}

.main-footer{
    text-align:center;
    padding: 20px;
}




/*unique elements*/

div.fixed {
    /*background-image:url("../Images/github.png");*/
    background-color: white;
    margin: auto;
    position: fixed;
    bottom: 200px;
    right: 0px;
    border:1px white;
    border-radius: 10%;
    overflow: hidden;   
}

div.menu {
    /*background-image:url("../Images/github.png");*/
    margin: auto;
    position: fixed;
    bottom: 450px;
    right: 0px;
    border:black 2px;
    border-radius:50%;
    overflow: hidden;   
}

.form {
    line-height: 50px;
    text-align: center;
    font-size: 50px;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
}
.form input{
    border-color: black;
    padding:10px 30px;
}

.success {
    margin:auto;
    text-align: center;
    color: green;
    font-weight: bold;
    padding: 10px;
    background-color: white;
    border:2px green dotted;
}

#letters {
    /*background-image:url("../Images/github.png");*/
    text-align:center;
    list-style: none;
    background-color: white;
    padding: 6px;
    border: 2px dotted black;
    margin: auto;
    position: fixed;
    bottom: 100px;
    left: 1%;
    transform: translateX(-50%);
}
#letters ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}