
<!DOCTYPE html>
<head>
    <title> Flashcards </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
    
<body>
    <header class="main-header">
        <h1> <a href="{{ url_for('index') }}">My website for flashcards </a></h1></div>
    </header>
    <div class="block"></div>
    <header class="sec-header">
        <h1>Flashcards revision</h1>
    </header>
<div class="block"></div>    
<nav class="nav-bar">
    <h2>Do you want to revise polish or french flashcards?</h2>
    <ul>
     <li><a href ="{{ url_for('polish') }}">Polish to french</a><div></li>
     <li><a href ="{{ url_for('french') }}">French to polish</a><div></ul></li></div>
</nav>
<div class="fixed"><img src="static/Images/github.png" alt="There's no picture"></div>
<div class="block"></div>
<main class="main">
    <h4>This feature allows you to choose the direction of your practice. You can start with either a Polish word and provide its French translation, or a French word and provide its Polish translation.
  </h4>
</main>

    <div class="fixed">
        <a href="https://github.com/NL920" target="_blank">
            <img src="{{ url_for('static', filename='Images/github.png') }}" alt="GitHub">
        </a>
    </div>
    
<footer class="main-footer">
    <h6> Copyright 2026 by NL </h6>
</footer>
</body>