<!DOCTYPE html>
<head>
    <title> Polish to French </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
    
<body>
    <header class="main-header">
        <h1> <a href="{{ url_for('index') }}">My website for flashcards </a></h1></div>
    </header>
    <header class="sec-header">
        <h1>Polish to French flashcards</h1>
    </header>
    <div class="block"></div>
    <main class="main-flash">
        <form class = "form" method="POST">
            <label for="Frword">French word:</label><br>
            <input type="text" id="Frword" name="frword"><br>
            <input type="submit" id="submit" name="submit">
        </form>
    </main>
    
    <div class="fixed">
        <a href="https://github.com/NL920" target="_blank">
            <img src="{{ url_for('static', filename='Images/github.png') }}" alt="GitHub">
        </a>
    </div>

    <aside class="side-flash">
        <h4>Helpful letters:
            <ul>
                <li>à</li>
                <li>é</li>
                <li>è</li>
                <li>ê</li>
                <li>ç</li>
                
            </ul>
        </h4>
    </aside>
    <div class="block"></div>

    <footer class="main-footer">
        <h6> Copyright &copy; 2026 by NL </h6>
    </footer>
</body>